* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

body {
    background: #74ebd5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    /* position: relative; */
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: .8em;
    color: #AAB5AD;
}

.wrapper-position {
    display: flex;
    flex-direction: column;
    margin: 4% auto;
    height: 82vh;
    width: 35vw;
}

.wrapper {
    /* border: 1px solid coral; */
    background-color: #F7F4F4;
    box-shadow: 0 0 .5em grey;
    border-radius: 21px;
    animation-name: appear;
    animation-duration: 1s;
    /* padding: 0 4%; */
}

nav {
    width: 100%;
    border-bottom: 1px solid #FFFFFF;
    background: #F6F4F4;
    box-shadow: inset -4px -4px 12px rgba(199, 199, 199, 0.25);
    border-radius: 21px 21px 0px 0px;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 4% 16% 0 16%;

}

.menu__item {
    transform: translateY(1px);
    /* padding-bottom: 5px; */
}

.menu__item--active {
    transform: translateY(1px);
    padding-bottom: 4%;
    border-bottom: 2px solid #74ebd5;
}

.timer {
    text-align: center;
    padding-top: 15%;
    padding-bottom: 4%;
    padding-left: 0;
    padding-right: 0;
}

.time {
    font-size: 71px;
    line-height: 40px;
    /* or 56% */
    text-align: center;
    letter-spacing: 0.02em;
}

.buttons {
    text-align: center;
    margin-top: 60px;
}

.main {
    /* position: relative; */
    display: inline-block;
    outline: none;
    color: #ffffff;
    width: 160px;
    height: 40px;
    background: #74EBD5;
    border: 1px solid #6FFFE4;
    box-sizing: border-box;
    box-shadow: -2px -2px 8px #FFFFFF, 2px 2px 15px rgba(116, 235, 213, 0.7);
    border-radius: 25px;
}

.reset {
    /* position: relative; */
    display: inline-block;
    outline: none;
    color: #000000;
    width: 160px;
    height: 40px;
    background: #F6F4F4;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.7), 2px 2px 4px rgba(209, 205, 199, 0.8);
    border-radius: 25px;
}

.reset:active {
    color: #999999;
    background: #F6F6F6;
    border: 1px solid #F4F4F4;
    box-shadow: 4px 4px 4px #FFFFFF, -4px -4px 4px rgba(209, 205, 199, 0.5);
    border-radius: 25px;
}

.stoper {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}